
/* .normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
} */

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}
.normal{
  width: 90%;
  margin: auto;
}
.welcome {
  width: 100%;
}
.welcome img{
  /* height: 328px;
  background: url(../assets/10.jpg) no-repeat left 0;
  background-size: 388px 328px; */
  vertical-align: top;
  margin-top: 48px;
  margin-right: 25px;
  height: 320px;
  width: 320px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
.copyright{
  font-size: 14px;
  width: 370px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}