.table{
    width: calc(100%);
    display: block;
    margin-top: 32px;
}
.table tbody tr td{
    height: 245px;
}
:global .ant-card-head-title{
    font-size: 20px;
}
.table h3{
    font-size: 15px;
}
.table p{
    font-size: 13px;
}