@media screen and (min-width:1024px){
    .input-button{
        width: 166px;
        margin: auto;
        margin-top: 10%;
    }
}

@media screen and (max-width:1023px){
    .input-button{
        width: 166px;
        margin: auto;
        margin-top: 30%;
    }
}